@media 
	(min-width &: 700px) {
				h1: :before {
                    content: "Facts on Population" ;
				background-color: orange 
} }
	@media 
		(max-width &: 699px) {
					h1: :before {
                    content: "Population Facts" ;
					background-color: green
					}}
					
	a[name=link1]::before {
		content: "\21d2 click here: " ;
		font-weight: bold }
ol {
	li 
		&:hover {
			color: red ;
			background-color: transparent ;
			text-decoration: none }
			}
div{ 
	ol {
		font-size: 18px 
		}
	ul {
		font-size: 16px ;
		color: purple 
	}
		}
